# Python Basics:

Retrieving The Length Of A List:

In [2]:
cities = ["Albuquerque", "Anaheim", "Anchorage", "Arlington", "Atlanta"]
crime_rates = [749, 371, 828, 503, 1379]

two_sum = len(cities) + len(crime_rates)
two_sum

10

Slicing Lists:

In [4]:
cities_slice = cities[1:len(cities) - 1]
cr_slice = crime_rates[3:len(crime_rates)]

In [5]:
cities_slice

['Anaheim', 'Anchorage', 'Arlington']

In [6]:
cr_slice

[503, 1379]

Files:

Opening Files:

In [8]:
f = open("crime_rates.csv", "r")

In [10]:
#Reading In Files
f = open("crime_rates.csv", "r")
data = f.read()
data

'Albuquerque,749\nAnaheim,371\nAnchorage,828\nArlington,503\nAtlanta,1379\nAurora,425\nAustin,408\nBakersfield,542\nBaltimore,1405\nBoston,835\nBuffalo,1288\nCharlotte-Mecklenburg,647\nCincinnati,974\nCleveland,1383\nColorado Springs,455\nCorpus Christi,658\nDallas,675\nDenver,615\nDetroit,2122\nEl Paso,423\nFort Wayne,362\nFort Worth,587\nFresno,543\nGreensboro,563\nHenderson,168\nHouston,992\nIndianapolis,1185\nJacksonville,617\nJersey City,734\nKansas City,1263\nLas Vegas,784\nLexington,352\nLincoln,397\nLong Beach,575\nLos Angeles,481\nLouisville Metro,598\nMemphis,1750\nMesa,399\nMiami,1172\nMilwaukee,1294\nMinneapolis,992\nMobile,522\nNashville,1216\nNew Orleans,815\nNew York,639\nNewark,1154\nOakland,1993\nOklahoma City,919\nOmaha,594\nPhiladelphia,1160\nPhoenix,636\nPittsburgh,752\nPlano,130\nPortland,517\nRaleigh,423\nRiverside,443\nSacramento,738\nSan Antonio,503\nSan Diego,413\nSan Francisco,704\nSan Jose,363\nSanta Ana,401\nSeattle,597\nSt. Louis,1776\nSt. Paul,722\nStockton,1548\nTampa,616\nToledo,1171\nTucson,724\nTulsa,990\nVirginia Beach,169\nWashington,1177\nWichita,742'

Splitting:

In [11]:
# We can split a string into a list.
sample = "john,plastic,joe"
split_list = sample.split(",")
split_list

['john', 'plastic', 'joe']

In [12]:
rows = data.split('\n')
rows

['Albuquerque,749',
 'Anaheim,371',
 'Anchorage,828',
 'Arlington,503',
 'Atlanta,1379',
 'Aurora,425',
 'Austin,408',
 'Bakersfield,542',
 'Baltimore,1405',
 'Boston,835',
 'Buffalo,1288',
 'Charlotte-Mecklenburg,647',
 'Cincinnati,974',
 'Cleveland,1383',
 'Colorado Springs,455',
 'Corpus Christi,658',
 'Dallas,675',
 'Denver,615',
 'Detroit,2122',
 'El Paso,423',
 'Fort Wayne,362',
 'Fort Worth,587',
 'Fresno,543',
 'Greensboro,563',
 'Henderson,168',
 'Houston,992',
 'Indianapolis,1185',
 'Jacksonville,617',
 'Jersey City,734',
 'Kansas City,1263',
 'Las Vegas,784',
 'Lexington,352',
 'Lincoln,397',
 'Long Beach,575',
 'Los Angeles,481',
 'Louisville Metro,598',
 'Memphis,1750',
 'Mesa,399',
 'Miami,1172',
 'Milwaukee,1294',
 'Minneapolis,992',
 'Mobile,522',
 'Nashville,1216',
 'New Orleans,815',
 'New York,639',
 'Newark,1154',
 'Oakland,1993',
 'Oklahoma City,919',
 'Omaha,594',
 'Philadelphia,1160',
 'Phoenix,636',
 'Pittsburgh,752',
 'Plano,130',
 'Portland,517',
 'Raleigh,423',
 'Riverside,443',
 'Sacramento,738',
 'San Antonio,503',
 'San Diego,413',
 'San Francisco,704',
 'San Jose,363',
 'Santa Ana,401',
 'Seattle,597',
 'St. Louis,1776',
 'St. Paul,722',
 'Stockton,1548',
 'Tampa,616',
 'Toledo,1171',
 'Tucson,724',
 'Tulsa,990',
 'Virginia Beach,169',
 'Washington,1177',
 'Wichita,742']

In [13]:
# Practice - Loops 

ten_rows = rows[0:10]
for row in ten_rows: 
    print(row)

Albuquerque,749
Anaheim,371
Anchorage,828
Arlington,503
Atlanta,1379
Aurora,425
Austin,408
Bakersfield,542
Baltimore,1405
Boston,835

List of Lists:

In [14]:
three_rows = ["Albuquerque,749", "Anaheim,371", "Anchorage,828"]
final_list = []
for row in three_rows:
    split_list = row.split(',')
    final_list.append(split_list)
final_list

[['Albuquerque', '749'], ['Anaheim', '371'], ['Anchorage', '828']]

In [15]:
# Practice - Splitting Elements in a List

final_data = []
for row in rows: 
    row_list = row.split(',')
    final_data.append(row_list)
final_data[0:5]

[['Albuquerque', '749'],
 ['Anaheim', '371'],
 ['Anchorage', '828'],
 ['Arlington', '503'],
 ['Atlanta', '1379']]

In [16]:
int_crime_rates = []
for list_item in rows: 
    rate_num = list_item.split(',')[1]
    int_crime_rates.append(int(rate_num))
    
int_crime_rates

[749,
 371,
 828,
 503,
 1379,
 425,
 408,
 542,
 1405,
 835,
 1288,
 647,
 974,
 1383,
 455,
 658,
 675,
 615,
 2122,
 423,
 362,
 587,
 543,
 563,
 168,
 992,
 1185,
 617,
 734,
 1263,
 784,
 352,
 397,
 575,
 481,
 598,
 1750,
 399,
 1172,
 1294,
 992,
 522,
 1216,
 815,
 639,
 1154,
 1993,
 919,
 594,
 1160,
 636,
 752,
 130,
 517,
 423,
 443,
 738,
 503,
 413,
 704,
 363,
 401,
 597,
 1776,
 722,
 1548,
 616,
 1171,
 724,
 990,
 169,
 1177,
 742]